whatsapp_bot/n8n_workflow.json
{
  "name": "AffittaSardegna WhatsApp Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "33d39489-b64a-42d4-b571-9a0384059a14",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
              "value2": "text"
            }
          ]
        }
      },
      "id": "is-text-message",
      "name": "Is Text Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract message data from WhatsApp webhook payload\nconst entry = $input.first().json.body.entry[0];\nconst changes = entry.changes[0].value;\nconst message = changes.messages[0];\nconst contact = changes.contacts[0];\n\nreturn [{\n  json: {\n    sender_phone: message.from,\n    sender_name: contact.profile.name,\n    message_text: message.text.body,\n    message_id: message.id,\n    timestamp: message.timestamp,\n    phone_number_id: changes.metadata.phone_number_id,\n    display_phone: changes.metadata.display_phone_number,\n    wamid: message.id\n  }\n}];"
      },
      "id": "extract-message",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 200]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1024, system: $env.WHATSAPP_BOT_SYSTEM_PROMPT, messages: [{ role: 'user', content: $json.message_text }] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "claude-api",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const claudeResult = $input.first().json;\nconst msgData = $('Extract Message Data').first().json;\n\n// Check if Claude API failed\nconst hasError = claudeResult.error || !claudeResult.content;\n\nlet parsed;\nif (hasError) {\n  // FALLBACK: Claude is down or errored\n  parsed = {\n    category: 'altro',\n    needs_human: true,\n    priority: 'high',\n    response_text: 'Grazie per il messaggio! Un operatore del team AffittaSardegna ti risponderà a breve.',\n    summary: 'Claude API non disponibile — messaggio passato direttamente agli operatori'\n  };\n} else {\n  // Normal path: parse Claude response\n  const responseText = claudeResult.content[0].text;\n  try {\n    let clean = responseText.trim();\n    if (clean.startsWith('```')) {\n      clean = clean.split('\\n', 2)[1] || clean.substring(3);\n      clean = clean.replace(/```\\s*$/, '');\n    }\n    parsed = JSON.parse(clean.trim());\n  } catch (e) {\n    // Claude responded but not valid JSON — treat as needing human\n    parsed = {\n      category: 'altro',\n      needs_human: true,\n      priority: 'normal',\n      response_text: 'Grazie per il messaggio! Un operatore del team AffittaSardegna ti risponderà a breve.',\n      summary: 'Risposta Claude non parsabile: ' + responseText.substring(0, 200)\n    };\n  }\n}\n\nreturn [{\n  json: {\n    ...msgData,\n    bot_response: parsed.response_text || 'Grazie, ti ricontatteremo a breve.',\n    category: parsed.category || 'altro',\n    needs_human: parsed.needs_human !== undefined ? parsed.needs_human : true,\n    priority: parsed.priority || 'normal',\n    summary: parsed.summary || '',\n    claude_failed: hasError\n  }\n}];"
      },
      "id": "parse-response",
      "name": "Parse Response (with Fallback)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.sender_phone, type: 'text', text: { body: $json.bot_response } }) }}"
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needs_human }}",
              "value2": true
            }
          ]
        }
      },
      "id": "needs-human",
      "name": "Needs Human?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1500, 350]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract Message Data').first().json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $env.OPERATOR_PHONE, type: 'text', text: { body: '📋 *Richiesta da gestire*\\n\\n👤 ' + ($json.sender_name || $json.sender_phone) + '\\n📞 +' + $json.sender_phone + '\\n📂 ' + $json.category + '\\n⚡ ' + $json.priority + '\\n💬 ' + $json.message_text.substring(0, 300) + '\\n\\n📝 ' + $json.summary } }) }}"
      },
      "id": "notify-operator",
      "name": "Notify Operator (WhatsApp)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1750, 300]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Is Text Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Text Message?": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API": {
      "main": [
        [
          {
            "node": "Parse Response (with Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response (with Fallback)": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Needs Human?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Human?": {
      "main": [
        [
          {
            "node": "Notify Operator (WhatsApp)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
